html { 
    scroll-behavior: smooth; 
    font-family: 'Arial';
}

body {
    height:100%;
    margin:0;
    width:100%;
    background-color: #000;
}

.inner-form {
    text-align: left;
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
}

#resumeForm {
    text-align: center;
}

#contactForm {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
}

#contactForm button {
    margin-left:auto;
    margin-right: auto;
}

h1 {
    font-size: 350%;
}

.hero h1 {
    text-transform: uppercase;
}

.hero h3 {
    padding-top: 5%;
    color: #867;
}

h2 {
    font-size: 150%;
}

input {
    width: 50vw;
    height: 5.57vh;
    font-size: 150%;
    padding-left: 10px;
    padding-right: 10px;
}

textarea {
    width: 50vw;
    height: 38.2vh;
    font-size: 150%;
    padding: 10px;
}

p {
    font-size: 145%;
    font-family: 'Roboto';
    width: 61.8%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

div {
    /* background-color:#fff; */
    /* border:1px solid #555; */
    box-sizing:border-box;
    display:inline-block;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
    text-align:center;
    vertical-align:middle
}

.page {
    overflow-x:hidden;
    position:relative;
    width:100vw
}

.single-screen {
    align-items:stretch;
    display:flex;
    justify-content:center;
    /* min-height:94.43vh; */
    text-align:center;
    overflow-y: visible;
    width:100vw;
}

.single-column {
    position: relative;
    top: 5.57%;
    /* height:94.43%; */
    width:100vw;
    overflow-y: hidden;
}

.rows {
    display:inline-block;
    flex:1;
    /* height: 100%; */
    width:100%;
}

.columns .rows {
    height: 100%;
}

.rows .columns {
    height: 100%;
    overflow-y: visible;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
/* 
.rows .columns .wide-column {
    min-height: 61.8%;
} */

.rows .columns .narrow-column {
    min-height: 38.2%;
}

.wide-row {
    height:61.8%;
    overflow-y:hidden;
    width:100%;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.narrow-row {
    height:38.2%;
    overflow-y:hidden;
    width:100%;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.columns {
    /* position: inherit; */
    align-items:stretch;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    overflow-y: visible;
    /* min-height: fit-content; */
}

.wide-column {
    height:100%;
    min-height:94.43%;
    min-width:464px;
    overflow-y:hidden;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:61.8%;
    max-width:61.8vw;
}

.narrow-column {
    height:100%;
    max-width:61.8vw;
    min-height:94.43%;
    min-width:38.2%;
    overflow-y:hidden;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.header {
    left:0;
    margin:0;
    max-height:100vh;
    position:relative;
    top:0;
    width:100vw;
    overflow-y: hidden;
}

.content {
    width:100vw
}

.top-bar {
    align-items:center;
    display:flex;
    font-size:4rem;
    height:14.6vh;
    justify-content:center;
    margin:0;
    overflow-y:hidden;
    position:relative;
    top:0;
    width:100vw;
    z-index:2
}

.sticky-logo {
    min-width: fit-content;
    /* width:14.6vw; */
    height:14.6vh;
    background-color: black;
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
}

.sticky-logo a {
    color: white;
    font-family: 'Helvetica';
    font-weight: bold;
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 0.15em;
}

.sticky-logo a:hover {
    color:#867;
}

.sticky-logo a:active {
    color:#645;
}

.hero {
    min-height:79.83vh;
    /* max-height:600px; */
    width:100vw;
    z-index:0;
    overflow-y: hidden;
}

.hero video {
	width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y:hidden;
	object-fit: cover; /* This property maintains the aspect ratio while covering the container */
	object-position: center -100%; /* Adjust the vertical position (in this case, starting from 25%) */
  }

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
    border: none;
    width: 100vw;
    height: 50vh;
}

.nav-bar {
    margin:0;
    max-height:5.57vh;
    min-height:50px;
    overflow-y:hidden;
    width:100vw;
    z-index:2
}

.anchor {
    max-height:5.57vh;
    min-height:50px;
    border: none;
    background: none;
}

.sticky-nav-bar {
    align-items:stretch;
    background-color: #000;
    display:flex;
    flex-direction:row;
    margin:0;
    max-height:5.57vh;
    min-height:50px;
    overflow-y:hidden;
    position:fixed;
    width:100vw;
    z-index:100;
    justify-content: space-between;
}

.content {
    width:100%
}

.article {
    margin:0;
    /* min-height:100vh; */
    width:100vw
}

.footer {
    position: relative;
    left:0;
    margin:0;
    /* min-height:94.43vh; */
    top:0;
    background-color:#fff;
    width:100vw;
    z-index:1;
}

.footer h3 {
    font-family: 'Times New Roman';
    color: #888;
    font-size: .85em;
}

.nav {
    align-items:stretch;
    display:flex;
    flex-direction:row;
    gap:15%;
    list-style:none;
    padding-right:5.57vw;
    overflow-x:hidden;
    width:35.2%;
}

.nav li {
    flex:1;
    width:fit-content
}


.nav li a {
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.15em;
}

.nav li a:hover {
    color:#867;
    text-decoration:none
}

.nav li a:active {
    color: #645;
}

.single-panel {
    background-color:#e7ecef;
    /* height:85.4%; */
    /* margin:3.44%; */
    /* height:70.67%; */
    /* max-height: 85.4%; */
    opacity:0;
    position: relative;
    transition: 1s all ease;
    transform:translateY(150px);
    /* width:85.4%; */
    /* max-width:85.4vw; */
    /* min-height:100vh; */
    width:100%;
    max-width: 100vw;
    padding-top: 5.57%;
    padding-bottom: 10.57%;
}

.single-panel h1 {
    text-align: center;
}

.inner-panel {
    max-width: 1080px;
}
/* .panel-body {
    border-left: 1px solid #555;
    width: 61.8%;
} */

.rows .single-panel {
    /* height: 100%; */
    min-height: 100%;
    width: 50%;
}

.single-panel.active {
    transform: translateY(0);
    opacity:100;
}

.long-screen {
    width: 100%;
}

.viewport {
    height: 94.43vh;
    overflow-y: hidden;
    max-width: 100%;
}

.mobile-menu {
    position: fixed;
    right: 0;
    z-index: 1;
    list-style: none;
    top:4.57vh;
    transition: 0.38s all ease;
    transform:translateY(-300px);
    opacity:0;
}


.mobile-menu.show {
    transform: translateY(0);
    opacity:100;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu li {
    width: 100vw;
    height: 5vh;
    min-height: fit-content;
    background-color: white;
    border: 1px solid #000;
    padding-top: 2vh;
}

.mobile-menu li a {
    font-family: Nunito Sans, sans-serif;
    font-weight: bold;
    color:#000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px; 
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    letter-spacing: 0.15em;
}

.mobile-menu li a:hover {
    background-color: #867;
    color: white;
}

.mobile-menu li a:active {
    background-color: #645;
    color: #aaa;
}


button {
    background-color: c5cacd;
    width: 15.5vw;
    min-width: fit-content;
    height: 6.57vh;
    font-size: 150%;
    font-family: 'Arial';
    border: 1px solid #000;
    color: black;
    text-decoration: none;
    
    margin-top: 5.57%;
}

button:hover {
    background-color: #867;
    color: white;
}

button:active {
    background-color: #645;
    color: #aaa;
}

@media (min-width: 2020px) {
    .hero video {
        object-position: center;
    }
}

@media (max-width: 767px) {
    .wide-column {
        align-items: inherit;
        width: 100%;
        max-width: 100%;
    }

    .columns {
        /* position: inherit; */
        align-items:stretch;
        display:inline-block;
        flex-wrap:wrap;
        text-align:left;
        width:100%;
        overflow-y: visible;
        min-height: fit-content;
    }

    .single-column {
        position: relative;
        top: 5.57%;
        height:94.43%;
        width:100%;
        overflow-y: hidden;
    }

    h1 {
        font-size: 150%;
    }

    .nav {
        display: none;
    }



    .mobile-menu-icon {
        display: flex; 
        background-color: black;
        display:flex;
        width: fit-content;
        flex-direction:row;
        margin-left:auto;
        margin-right:0;
        position: relative;
        z-index: 10;
    }

    .mobile-menu-icon a {
        color: white;    
        height:14.6vh;
        background-color: black;
        font-size: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 18px;
    }

    .mobile-menu-icon a:active {
        color: #645;  
    }

    p {
        width: 85.43%;
        font-size: 120%;
    }

    h2 {
        font-size: 125%;
    }

    h3 {
        font-size: 64%;
    }
    
    input {
        width: 75vw;
        height: 3vh;
        font-size: 95%;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    textarea {
        width: 75vw;
        height: 25.2vh;
        font-size: 95%;
        padding: 10px;
    }

    .sticky-logo a {
        font-size: 15px;
    }

    .sticky-logo {
        padding-left: 10px;
        padding-top: 18px;
    }

    button {         
        margin-bottom: 5.57%;
        margin-top: 10.57%;
    }

    .hero-text {
        width: 85vw;
    }
}
